<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Congratulations!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>You Have Proven Your Worth</h1>
      <p>Thank you for qualifying for the Eu-Hack. Please provide your hacker name/alias
        to receive further instructions.</p>
        <form action="/record_alias" method="post">
            <label for="hacker_name">Hacker Name/Alias:</label>
            <input type="text" id="hacker_name" name="hacker_name" required />
            <button type="submit">Submit</button>
        </form>        
    </div>
  </body>
</html>
